@import url('https://fonts.cdnfonts.com/css/futura-std-4');

* {
    scrollbar-width: thin;
    scrollbar-width: 1px;
    user-select: none;
    font-family: 'Futura Std', sans-serif;
}

body {
    background-color: rgb(36, 36, 36);
}

p {
    color: aliceblue;
    font-size: 22px;
    font-weight: bold;
}

.containerDiv { 
    display: flex;
    flex-flow: row nowrap;
    height: 98vh;
}

/* left div */

.leftDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 40%;
    background-color: rgb(53, 53, 53);
}

.leftDivChild {
    width: 90%;
    height: 12%;
    margin-top: 15px;
    margin-bottom: 15px;
    padding-bottom: 10px;
    display: flex;
    align-items: flex-start;
    flex-flow: row nowrap;
    overflow-x: auto;
    position: relative;
    z-index: 1;
}    

.leftDivChildElement {
    background-color: rgb(107, 107, 107);
    margin-left: 8px;
    margin-right: 8px;
    min-width: 25%;
    height: 100%;
    font-size: 20px;
    text-align: center;
}

p.nameText {
    color: rgb(255, 255, 255);
    font-size: 22px;
    margin-bottom: 0;
}

p.costText {
    color: rgb(255, 255, 180);
    font-size: 14px;
}

.leftDivChildElement.upgradable {
    background-color: rgb(145, 93, 212);
    color: rgb(255, 252, 234);
}

.leftDivChildElement.upgradable:hover {
    background-color: rgb(176, 143, 219);
    font-size: 22px;
    cursor: pointer;
}

.toolTip {
    z-index: 9999;
    display: none;
    position: fixed;
    background-color: rgb(151, 151, 151);
    height: 200px;
    width: 100px;
}

.leftDivChildElement[data-upgrade]:hover .toolTip {
    display: flex;
}

/* middle div */

.middleDiv {
    width: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
}

.middleDivStatsArea {
    height: 20%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.middleDivStatsAreaChild {
    font-size: 12px;
    color: rgb(121, 121, 121);
    margin-bottom: 0px;
}

.middleDivPlayArea {
    margin-top: 20vh;
}

.points {
    width: 100%;
    text-align: center;
}

.theButton {
    margin: auto;
    font-size: 32px;
    padding: 20px 60px;
    border-style: none;
    background-color: rgb(61, 44, 104);
    color: rgb(255, 255, 255);
}

.theButton:hover {
    cursor: pointer;
    background-color: rgb(96, 83, 129);
    color: rgb(226, 226, 226);
}

.theButton:active {
    font-size: 33px;
    background-color: rgb(137, 82, 189);
    color: rgb(255, 242, 124);
}

/* right div */

.rightDiv {
    width: 40%;
}

